@model EmployeeMgt.Core.ViewModels.EmployeeVM

@{
    Layout = null;
}

<div class="container-fluid">
    <h1>Edit Employee Record</h1>

    <hr />
    <div class="row" style="display: flex;justify-content:center;">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="DateCreated" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobileNo" class="control-label"></label>
                    <input asp-for="MobileNo" class="form-control" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateofBirth" class="control-label"></label>
                    <input asp-for="DateofBirth" class="form-control" />
                    <span asp-validation-for="DateofBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Department" class="control-label"></label>
                    <input asp-for="Department" class="form-control" />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateCreated" class="control-label"></label>
                    <input asp-for="DateCreated" class="form-control" />
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="btn btn-success btn-user btn-block" style="resize: none; border-radius: 15px;" />
                    <a asp-action="Index" class="btn btn-outline-dark btn-user btn-block" style="resize: none; border-radius: 15px;">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
